nav{
    background-color: #40E0D0;
}

.carousel-item > img{
    height: 700px;    
}
 .flex{
    display: flex;
 }
 .split{
    justify-content: space-between;
 }
 .nav-item {
    font-size: 2rem;
 }